.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 20px;
}

.controls__btn {
    width: 100%;
    height: 40px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.controls__btn:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
}