.cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.diceGame {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}